body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  line-height: 21px;
  color: #000;
}

.wrapper {
  max-width: 375px;
  overflow: hidden;
}

.slider {
  position: relative;
  display: flex;
}

.slider > .account {
  float: left;
  position: relative;
  width: 375px;
  height: 680px;
  background-color: #eeebe5;
}

.btn {
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.ir-blind {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  margin: 0;
}

/* HEADER */

header {
  width: 327px;
  height: 43px;
  margin: 0 21px 33px 27px;
  position: relative;
}

header > h1 {
  display: inline-block;
  position: absolute;
  margin: 8px 84px 8px 85px;
  font-size: 18px;
  line-height: 27px;
}

header > .btn-cont {
  position: absolute;
  top: 9.5px;
  right: 0;
}

header > .btn-cont > .btn-qr {
  margin: 1.5px 18px 1.5px 0;
}

header > .btn-cont > .btn-qr > img + img {
  position: absolute;
  top: 13px;
  left: 3px;
}

header > .btn-cont > .btn > img {
  vertical-align: middle;
}

header > .btn-cont > .btn-search > img {
  width: 24px;
  height: 24px;
}

/* ACCOUNT SECTION */

.account-section {
  position: relative;
  width: 279px;
  height: 155px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  margin: auto;
  text-align: center;
}

.account-section > .account-cont {
  position: relative;
}

.account-section > .account-cont > .account-num {
  display: inline-block;
  font-size: 14px;
  color: #858585;
  text-align: center;
  margin: 14px 71px 16px 73px;
}

.account-section > .account-cont > .btn-send {
  position: absolute;
  top: 14px;
  right: 17px;
}

.account-section > .account-cont > .account-money {
  display: inline-block;
  padding: 0 12px;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 21px;
}

.account-section > .account-cont > .account-money > strong {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
}

.account-section > .account-cont > .progress-cont {
  margin: 0 45px 0 32px;
}

.account-section > .account-cont > .progress-cont > .bar {
  /* position: relative; */
  width: 202px;
  height: 6px;
  background: #c4c4c4;
  border-radius: 3px;
}

.account-section > .account-cont > .progress-cont > .bar > .progress {
  position: relative;
  height: 6px;
  /* background: #ffdb4c; */
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.account-section > .account-cont > .progress-cont > .bar > .progress::after {
  display: block;
  right: 0;
  position: absolute;
  content: "";
  width: 4px;
  height: 17px;
  background: #ff5f00;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: -3px;
}

.account-section > .account-cont > .progress-cont > .btn-manage {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 98px;
  right: 14px;
}

.account-section > .account-cont > .account-desc {
  display: inline-block;
  color: #858585;
  font-size: 14px;
  margin-top: 12px;
}

.account-section > aside {
  position: absolute;
  font-size: 14px;
  top: 179px;
}

.account-section > aside > span {
  margin-right: 6px;
}

.account-section > aside > a {
  text-decoration: none;
  color: #000;
}

/* SPEND SECTION */

.spend-section {
  position: absolute;
  bottom: 0;
  width: 375px;
  max-height: 637px;
  min-height: 387px;
  height: 383px;
  background-color: #f5f5f5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  overflow: hidden;
}

.spend-section > .dragbar {
  width: 48px;
  height: 2.15px;
  background-color: #c4c4c4;
  border-radius: 4px;
  margin: 4.3px 165px 16.55px 162px;
}

/* .spend-section > .dragbar::after {
  content: " ";
  display: inline-block;
  width: 48px;
  height: 2.15px;
  background-color: #c4c4c4;
  border-radius: 4px;
  margin: 4.3px 165px 16.55px 162px;
} */

.spend-section > .save-cont {
  font-size: 12px;
  line-height: 18px;
  margin: 0px 34px;
  width: 308px;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
}

.spend-section > .save-cont::-webkit-scrollbar {
  display: none;
}

.spend-section > .save-cont {
  display: flex;
  align-items: center;
}

.spend-section > .save-cont > .save-list {
  height: 47px;
  white-space: nowrap;
}

.spend-section > .save-cont > .save-list > .save-bar {
  display: inline-block;
  width: 162px;
  height: 47px;
  border-radius: 6px;
  background-color: #dadada;
}

.spend-section > .save-cont > .save-list > .save-bar > .save-progress {
  width: 100px;
  height: 100%;
  border-radius: 6px;
  background-color: #feb700;
  transition: width 0.5s;
}

.spend-section > .save-cont > .save-list > .save-bar > .save-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spend-section > .save-cont > .save-list > .save-bar > .save-progress * {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.spend-section > .save-cont > .save-add {
  display: flex;
  margin-left: 19px;
}

.spend-section > .save-cont > .save-add > .btn-add {
  display: flex;
  align-items: center;
}

.spend-section > .save-cont > .save-add > .btn-add > span {
  color: #ff5f00;
  margin-left: 6px;
  font-size: 12px;
  line-height: 18px;
}

.spend-section > .save-cont > .save-list > .save-bar + .save-bar {
  margin-left: 13px;
}

.spend-section > .day-cont {
  width: 302px;
  height: 331px;
  /* height: 548px; */
  overflow-y: auto;
  margin: auto;
  margin-top: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.spend-section > .day-cont::-webkit-scrollbar {
  display: none;
}

.spend-section > .day-cont > .day-list + .day-list {
  margin-top: 16px;
}

.spend-section > .day-cont .day-list > .day {
  float: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.spend-section > .day-cont .day-list > .total {
  float: right;
  font-size: 14px;
  line-height: 21px;
  color: #b4b4b4;
}

.spend-section > .day-cont > .day-list > .spend-cont {
  width: 100%;
}

.spend-section > .day-cont > .day-list > .spend-cont > .spend-list:first-child {
  margin-top: 29px;
}

.spend-section > .day-cont > .day-list + .day-list {
  margin-bottom: 38px;
}

.spend-section > .day-cont > .day-list > .spend-cont .spend-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 6px;
  padding-bottom: 7px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #444444;
}

.spend-section
  > .day-cont
  > .day-list
  > .spend-cont
  .spend-list.deposit
  > .spend-cost {
  color: #ff5f00;
}

.spend-section > .day-cont > .day-list > .spend-cont .spend-list + .spend-list {
  margin-top: 8px;
}

/* NAV NAVBAR */

nav {
  width: 375px;
  height: 76px;
  background: linear-gradient(163.63deg, #00bdb2 11.35%, #c4e7b8 139.96%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 32px 0 46px;
  justify-content: space-between;
}

nav > button {
  height: 28px;
  width: 28px;
}

nav > .btn-arrow {
  position: relative;
}

nav > .btn-arrow > img {
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

nav > .btn-arrow > img:first-child {
  position: absolute;
  top: 1.29px;
  left: 0.56px;
}

nav > .btn-arrow > img:nth-child(2) {
  position: absolute;
  top: 7.96px;
  left: 13px;
}
